body {
    background: url(../images/moon.jpg) 0 50px no-repeat fixed;
    background-size: cover;
    padding-top: 50px;
}

@media only screen and (max-width: 450px) {
    body {
        width: 100%;
        height: 100%;
        background: url(../images/mobile.jpg) no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.navbar-clear {
    background-color: rgba(15, 22, 48, 0.51);
    color:#ffffff;
    border-radius:0;
}

.player-level {
    width: 120px;
    height: 120px;
    background-size: auto 100%;
    font-size: 2.2rem;
    text-align: center;
    color: #f0edf2;
    position: relative;
}
.player-badge-level-value, .player-level {
    font-family: FuturaNo2D,century gothic,arial,sans-serif;
    font-weight: 600;
}

.u-vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.player-rank {
    position: absolute;
    bottom: -4%;
    width: 100%;
    height: 50%;
    background-size: auto 100%;
}

.navbar-clear .navbar-nav > li > a {
    color:#fff;
}

.navbar-clear .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-clear .navbar-nav > li > a:hover,
.navbar-clear .navbar-nav > li > a:focus,
.navbar-clear .navbar-nav > .active > a:hover,
.navbar-clear .navbar-nav > .active > a:focus,
.navbar-clear .navbar-nav > .open >a {
    text-decoration: none;
    background-color: rgba(15, 22, 48, 0.51);
}

.navbar-clear .navbar-brand {
    color:#eeeeee;
}
.navbar-clear .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-clear .icon-bar {
    background-color: rgba(15, 22, 48, 0.51);
}


.hero-pic{
    vertical-align: bottom;
}

.main-jumbo{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(141, 141, 141, 0.76);
}

.player-jumbo{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 5%;
    background-color: rgba(141, 141, 141, 0.76);
    display: inline-block;
}

@media only screen and (max-width: 450px) {
    .player-jumbo{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}


.divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-header {
    padding-bottom: 50px;
    padding-top: 50px;
    color: #f8f8f8;
    background-size: cover;
}

.search-container {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.search-container > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.search-container > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 450px) {
    .search-container {
        padding-bottom: 15%;
    }

    .search-container > h1 {
        font-size: 3em;
    }

    .divider {
        width: 100%;
    }

    .main-jumbo{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1300px) {
    .main-jumbo{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@font-face{
    font-family: "koverwatch";
    src: url('../fonts/koverwatch.ttf')
}

@font-face{
    font-family: "bignoodletoo";
    src: url('../fonts/bignoodletoo.ttf')
}

.italic-orange{
    font-family: bignoodletoo, serif;
    color: #FAA02E !important;
}

.italic-white{
    font-family: bignoodletoo, serif;
    color: white !important;
}

.standard-white{
    font-family: koverwatch, serif;
    color: white !important;
}

.standard-orange{
    font-family: koverwatch, serif;
    color: #FAA02E !important;
}

.scroll::-webkit-scrollbar-track, div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar, div::-webkit-scrollbar-track
{
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb, div::-webkit-scrollbar-track
{
    background: #F90 -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.progress {
    height: 50px !important;
    cursor:pointer
}

.hero {
    background-image: none;
    text-align: left;
}

.progress span{
    position: absolute;
    display: block;
    font-size: 30px;
    padding-left: 5px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.panel-body h3 {
    font-size: 30px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.hero-img {
    width: 56px;
    height: 50px;
}

.panel-stat {
    font-size: 30px !important;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    background-color: #111756;

}

.panel-stat .panel-heading{
    background-color: #00a5e2;
}

.panel-stat .table-holder {
    max-height: 350px;
    overflow-y: auto;
}

.carousel{
    width: 70%;
    margin:auto;
}

.panel-stat .table{
    font-size:25px;
}

.carousel-left {
    position: absolute;
    right: auto;
    left: 0;
}

.carousel-right {
    position: absolute;
    right: 0;
    left: auto;
}

@media only screen and (max-width: 450px) {
    .carousel{
        width: 100%;
        margin: 0;
    }
}

.statBox {
    background-color: #333366 !important;
    padding: 24px;
    height: 160px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border: 2px solid #0f1630;
}

.statBoxContent {
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: inherit;
    background-repeat: no-repeat;
    vertical-align: inherit;
    white-space: inherit;
    text-overflow: inherit;
    text-shadow: inherit;
}

.card-heading {
    line-height: .8;
    font-size: 6rem;
}

.card-copy {
    font-family: FuturaNo2D, century gothic, arial, sans-serif;
    font-weight: 600;
    color: rgba(240, 237, 242, .6) !important;
    margin-top: 6px;
    line-height: 1.1;
    text-transform: uppercase;
}

.healing {
    background: url(../images/healing.png) no-repeat 100% 0;
}

.fire {
    background: url(../images/fire2.png) no-repeat 100% 0;
}

.damage {
    background: url(../images/damage.png) no-repeat 100% 0;
}

.timePlayed {
    background: url(../images/timePlayed.png) no-repeat 100% 0;
}

.objectiveTime {
    background: url(../images/objectiveTime.png) no-repeat 100% 0;
}

.gamesWon {
    background: url(../images/gamesWon.png) no-repeat 100% 0;
}